.uploadPhoto{
    border-style: solid;
    border-color: white;
    border-width: 0px;
    border-radius: 6px;

    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    gap: 15px;
}

.scrollFoto{
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.foto{
    max-width: 100px;
}